doctype html
html(lang ="es")
	head
		meta(charset="utf8", name="viewport", sacalable=no, initial-scalable=1, maximum-sacale=1)
		link(rel="stylesheet", href = "css/app.css")
		title Responsive Desing
	body
		p.parrafo1 Hola Mundo
			span !!